'exception-reporting':
  'userId': 'b55e98f5-a093-fffa-c6ad-3b2cef16de26'
'release-notes':
  'viewedVersion': '0.81.0'
'welcome':
  'showOnStartup': false
'metrics':
  'userId': 'c196893d64c10bba3ea7120091367fd2280907e3'
'editor':
  'fontFamily': 'Source Code Pro'
  'showInvisibles': true
  'fontSize': 12
  'tabLength': 4
'core':
  'themes': [
    'unity-ui'
    'fizzy'
  ]
  'ignoredNames': [
    '.git'
    '.svn'
    '.DS_Store'
  ]
'spell-check':
  'grammars': [
    'source.gfm'
    'text.git-commit'
    'text.plain'
  ]
'tree-view':
  'hideIgnoredNames': true
  'hideVcsIgnoredFiles': true
'Rdio': {}
